In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Data Fetch

In [2]:
raw_test_data = pd.read_csv('test.csv')
raw_train_data = pd.read_csv('train.csv')

Getting familiar with Data

In [3]:
raw_test_data.shape,raw_train_data.shape

((200000, 25), (300000, 26))

In [4]:
raw_train_data.head(10)

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,target
0,1,B,B,B,C,B,B,A,E,C,...,0.400361,0.160266,0.310921,0.389470,0.267559,0.237281,0.377873,0.322401,0.869850,8.113634
1,2,B,B,A,A,B,D,A,F,A,...,0.533087,0.558922,0.516294,0.594928,0.341439,0.906013,0.921701,0.261975,0.465083,8.481233
2,3,A,A,A,C,B,D,A,D,A,...,0.650609,0.375348,0.902567,0.555205,0.843531,0.748809,0.620126,0.541474,0.763846,8.364351
3,4,B,B,A,C,B,D,A,E,C,...,0.668980,0.239061,0.732948,0.679618,0.574844,0.346010,0.714610,0.540150,0.280682,8.049253
4,6,A,A,A,C,B,D,A,E,A,...,0.686964,0.420667,0.648182,0.684501,0.956692,1.000773,0.776742,0.625849,0.250823,7.972260
5,7,A,B,A,C,B,D,A,E,G,...,0.392432,0.658169,0.997473,0.569874,0.960864,0.238050,0.316065,0.731729,0.694719,8.028558
6,8,B,A,A,A,B,D,A,E,C,...,0.396705,0.273454,0.824573,0.656325,0.677114,0.808445,0.615973,0.631677,0.283561,7.811465
7,9,A,A,A,C,B,B,A,E,A,...,0.633353,0.339760,0.802006,1.010997,0.391221,0.057297,0.591120,0.074629,0.775869,7.674188
8,10,A,B,A,C,B,D,A,E,G,...,0.472564,0.414036,0.809142,1.013301,0.761183,1.041711,0.393960,0.782381,0.865610,8.090095
9,11,A,A,A,A,B,B,A,E,E,...,0.425716,0.233705,0.493036,0.353048,0.334675,0.085087,0.230634,0.636732,0.291874,8.446155

In [5]:
raw_train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 26 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      300000 non-null  int64
 1   cat0    300000 non-null  object
 2   cat1    300000 non-null  object
 3   cat2    300000 non-null  object
 4   cat3    300000 non-null  object
 5   cat4    300000 non-null  object
 6   cat5    300000 non-null  object
 7   cat6    300000 non-null  object
 8   cat7    300000 non-null  object
 9   cat8    300000 non-null  object
 10  cat9    300000 non-null  object
 11  cont0   300000 non-null  float64
 12  cont1   300000 non-null  float64
 13  cont2   300000 non-null  float64
 14  cont3   300000 non-null  float64
 15  cont4   300000 non-null  float64
 16  cont5   300000 non-null  float64
 17  cont6   300000 non-null  float64
 18  cont7   300000 non-null  float64
 19  cont8   300000 non-null  float64
 20  cont9   300000 non-null  float64
 21  cont10  300000 non-null  float64
 22  cont11  300000 non-null  float64
 23  cont12  300000 non-null  float64
 24  cont13  300000 non-null  float64
 25  target  300000 non-null  float64
dtypes: float64(15), int64(1), object(10)
memory usage: 59.5+ MB

In [6]:
raw_test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 25 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      200000 non-null  int64
 1   cat0    200000 non-null  object
 2   cat1    200000 non-null  object
 3   cat2    200000 non-null  object
 4   cat3    200000 non-null  object
 5   cat4    200000 non-null  object
 6   cat5    200000 non-null  object
 7   cat6    200000 non-null  object
 8   cat7    200000 non-null  object
 9   cat8    200000 non-null  object
 10  cat9    200000 non-null  object
 11  cont0   200000 non-null  float64
 12  cont1   200000 non-null  float64
 13  cont2   200000 non-null  float64
 14  cont3   200000 non-null  float64
 15  cont4   200000 non-null  float64
 16  cont5   200000 non-null  float64
 17  cont6   200000 non-null  float64
 18  cont7   200000 non-null  float64
 19  cont8   200000 non-null  float64
 20  cont9   200000 non-null  float64
 21  cont10  200000 non-null  float64
 22  cont11  200000 non-null  float64
 23  cont12  200000 non-null  float64
 24  cont13  200000 non-null  float64
dtypes: float64(14), int64(1), object(10)
memory usage: 38.1+ MB

Preparing Data for Traing and Testing

In [7]:
y = raw_train_data['target']

In [8]:
raw_train_data = raw_train_data.drop('id',axis=1)
raw_train_data = raw_train_data.drop('target',axis=1)

In [9]:
train_cat = raw_train_data.select_dtypes(object)
test_cat = raw_test_data.select_dtypes(object)

changing category data to numerical data

In [10]:
train = pd.get_dummies(raw_train_data)

In [11]:
raw_train_data.shape  ,train.shape

((300000, 24), (300000, 70))

In [12]:
train.head(10)

,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,...,cat9_F,cat9_G,cat9_H,cat9_I,cat9_J,cat9_K,cat9_L,cat9_M,cat9_N,cat9_O
0,0.201470,-0.014822,0.669699,0.136278,0.610706,0.400361,0.160266,0.310921,0.389470,0.267559,...,0,0,0,0,0,0,0,0,1,0
1,0.743068,0.367411,1.021605,0.365798,0.276853,0.533087,0.558922,0.516294,0.594928,0.341439,...,0,0,0,0,0,0,0,0,0,1
2,0.742708,0.310383,-0.012673,0.576957,0.285074,0.650609,0.375348,0.902567,0.555205,0.843531,...,1,0,0,0,0,0,0,0,0,0
3,0.429551,0.620998,0.577942,0.280610,0.284667,0.668980,0.239061,0.732948,0.679618,0.574844,...,0,0,0,0,0,1,0,0,0,0
4,1.058291,0.367492,-0.052389,0.232407,0.287595,0.686964,0.420667,0.648182,0.684501,0.956692,...,0,0,0,0,0,0,0,0,1,0
5,0.402056,0.837058,0.737991,0.778429,0.530250,0.392432,0.658169,0.997473,0.569874,0.960864,...,1,0,0,0,0,0,0,0,0,0
6,0.743661,0.234794,0.339026,0.424034,0.281511,0.396705,0.273454,0.824573,0.656325,0.677114,...,1,0,0,0,0,0,0,0,0,0
7,0.887959,0.482799,0.674588,0.584811,0.763081,0.633353,0.339760,0.802006,1.010997,0.391221,...,0,0,0,0,0,0,0,1,0,0
8,0.523472,0.492059,0.165440,0.749995,0.281110,0.472564,0.414036,0.809142,1.013301,0.761183,...,0,0,0,1,0,0,0,0,0,0
9,0.503013,0.551163,0.622871,0.471560,0.287109,0.425716,0.233705,0.493036,0.353048,0.334675,...,0,0,0,0,0,0,0,1,0,0

Model and training

In [13]:
from sklearn.model_selection import train_test_split
import xgboost as XGB

In [14]:
x_train,x_test,y_train,y_test = train_test_split(train,y,random_state=64)

In [15]:
model = XGB.XGBRegressor(colsample_bytree=0.4603, gamma=0.0468, 
                             learning_rate=0.05, max_depth=3, 
                             min_child_weight=1.7817, n_estimators=2200,
                             reg_alpha=0.4640, reg_lambda=0.8571,
                             subsample=0.5213, random_state =7, nthread = -1)

In [16]:
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.07302701141901913

Prepare Test data

In [17]:
raw_test_data.head(10)

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
0,0,B,B,B,C,B,B,A,E,E,...,0.476739,0.376350,0.337884,0.321832,0.445212,0.290258,0.244476,0.087914,0.301831,0.845702
1,5,A,B,A,C,B,C,A,E,C,...,0.285509,0.860046,0.798712,0.835961,0.391657,0.288276,0.549568,0.905097,0.850684,0.693940
2,15,B,A,A,A,B,B,A,E,D,...,0.697272,0.683600,0.404089,0.879379,0.275549,0.427871,0.491667,0.384315,0.376689,0.508099
3,16,B,B,A,C,B,D,A,E,A,...,0.719306,0.777890,0.730954,0.644315,1.024017,0.391090,0.988340,0.411828,0.393585,0.461372
4,17,B,B,A,C,B,C,A,E,C,...,0.313032,0.431007,0.390992,0.408874,0.447887,0.390253,0.648932,0.385935,0.370401,0.900412
5,19,B,B,B,C,B,B,A,E,E,...,0.489711,0.533519,0.451563,0.513817,0.429349,0.489093,0.326913,0.440908,0.694076,0.444859
6,20,A,A,A,C,B,D,A,E,G,...,0.285503,0.497190,0.540631,0.521383,0.277155,0.837442,0.602099,1.057592,0.522523,0.668214
7,21,B,B,A,C,B,D,A,E,A,...,0.346929,0.774717,0.374756,0.838619,0.641282,0.854445,0.834690,0.347269,0.741068,0.257963
8,23,A,A,A,C,B,B,A,E,E,...,0.484546,0.688881,0.356810,0.732911,0.259619,0.275222,0.750423,0.783911,0.601736,0.811545
9,29,A,A,A,C,B,D,A,E,A,...,0.425122,0.758756,0.706094,0.871956,0.584765,0.550189,0.775375,0.798391,0.972790,0.283684

In [18]:
test_id = raw_test_data['id']

In [19]:
raw_test_data  = raw_test_data.drop('id',axis=1)

In [20]:
test = pd.get_dummies(raw_test_data)

In [21]:
raw_test_data.shape,test.shape

((200000, 24), (200000, 70))

Save Results in a File

In [22]:
y_predict = model.predict(test)

my_file = pd.DataFrame()

my_file['id'] = test_id
my_file['target'] = y_predict

In [23]:
my_file.to_csv('solution_s_v1.csv',index=False)

In [25]:
from sklearn.metrics import mean_absolute_error

cal_predict = model.predict(x_test)

print("Mean Absolute Error: " + str(mean_absolute_error(cal_predict, y_test)))

Mean Absolute Error: 0.571614429310095